.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;

  padding: 10px;

  &__title {
    transform: translateY(-500px);
    transition: all 0.3s ease-in-out;
    &:hover {
      color: violet;
    }
  }

  &__list {
    display: flex;
    transform: translateY(-500px);
    &__link {
      display: block;
      transition: all 0.3s ease-in-out;

      &:last-child {
        margin-left: 20px;
      }

      &:hover {
        color: violet;
      }
    }
  }

  &__social {
    transform: translateY(-500px);
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin-top: 10px;

    &__item {
      & a svg path {
        opacity: 1;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
      }

      & a:hover {
        & svg {
          path {
            opacity: 0.5;
          }
        }
      }
      &:last-child {
        margin-left: 5px;
      }
    }
  }
}
