.header {
  display: block;
  padding: 20px;
  position: fixed;
  height: 100vh;
  top: 0;
  background-color: white;
  z-index: 13;
  transform: translateX(-1000px);
  transition: all 0.3s ease-in-out;

  &__title {
    display: block;
    font-size: 36px;
    margin-bottom: 40px;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: violet;
    }

    @media (max-width: 525px) {
      font-size: 12px;
    }
  }

  &__list {
    font-size: 16px;
    &__link {
      display: block;
      transition: all 0.3s ease-in-out;
      margin-bottom: 20px;
      &:hover {
        color: violet;
      }
    }
  }

  &__social {
    display: flex;
    align-items: flex-start;

    margin-top: 10px;

    &__item {
      & a svg path {
        opacity: 1;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
      }

      & a:hover {
        & svg {
          path {
            opacity: 0.5;
          }
        }
      }
      &:last-child {
        margin-left: 5px;
      }
    }
  }
}


.active {
  transform: translateX(0px);
}